@font-face {
    font-family: gothampro_regular ;
    src: local('gothampro_regular'), 
    local('gothampro_regular'), 
    url(../fonts/GothamPro.woff2) format('woff2'),
     url(../fonts/GothamPro.woff) format('woff');
}

@font-face {
    font-family: gothampro_black;
    src:local('gothampro_black'),
    local('gothampro_black'),
     url(../fonts/GothamPro-Black.woff2) format('woff2'),
     url(../fonts/GothamPro-Black.woff) format('woff');
}

@font-face {
    font-family: gothampro_bold;
    src: local('gothampro_bold'),
    local('gothampro_bold'),
     url(../fonts/GothamPro-Bold.woff2) format('woff2'),
     url(../fonts/GothamPro-Bold.woff) format('woff');
}

@font-face {
    font-family: gothampro_italic;
    src: local('gothampro_italic'),
    local('gothampro_italic'),
     url(../fonts/GothamPro-Italic.woff2) format('woff2'),
     url(../fonts/GothamPro-Italic.woff) format('woff');
}

@font-face {
    font-family: Montserrat-Regular;
    src: local('Montserrat-Regular'),
    local('Montserrat-Regular'),
    url(../fonts/Montserrat-Regular.woff2) format('woff2'),
    url(../fonts/Montserrat-Regular.woff) format('woff');
}

@font-face {
    font-family: Montserrat-Black;
    src:local('Montserrat-Regular'),
    local('Montserrat-Regular'),
     url(../fonts/Montserrat-Black.woff2) format('woff2'),
     url(../fonts/Montserrat-Black.woff) format('woff');
}

@font-face {
    font-family: Montserrat-Bold;
    src: local('Montserrat-Bold'),
    local('Montserrat-Bold'),
    url(../fonts/Montserrat-Bold.woff2) format('woff2'),
    url(../fonts/Montserrat-Bold.woff) format('woff');
}

@font-face {
    font-family: Montserrat-Italic;
    src: local('Montserrat-Italic'),
    local('Montserrat-Italic'),
     url(../fonts/Montserrat-Italic.woff2) format('wott2'),
     url(../fonts/Montserrat-Italic.woff) format('woff');
}