
.slogan {
    padding-left: 250px;
    padding-right: 250px;
}

.slogan-box {
    display: flex;
    margin-top: 55px;
    justify-content: space-between;
    align-items: center;
}

.slogan-box-text {
    display: flex;
    flex-direction: column;
    
}

.slogan-box-text h1 {
    color: var(--yellow);
    margin-top: 50px;
    margin-bottom: 50px;
}


.slogan-box-text h2 {
    color: var(--white);

}



.slogan-box-img img {
    height: 340px;
}

.concept {
    margin-bottom: 60px;
}

.concept-box {
    border: 1px solid var(--yellow);
    padding: 50px;
    border-radius: 20px;
}


.concept-box-text {
    font-size: 25px;
   font-family: Montserrat-Regular;
}