.image-parlax {
    width: 100%;
    /* Ширина изображения */
}

.image-container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front-side, .back-side {
    background-size: cover;
    background-position: center;
    height: 300px;
    /* Высота изображения */
    /* height: auto; */
    border-radius: 50%;
    /* Скругление углов */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    color: #fff;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid gray;
    /* box-shadow: 0 0 55px 5px gray; */
    box-shadow: 0 0 9px 3px rgb(251, 223, 0);
}

.front-side {
    font-size: 1.5rem;
    color: rgb(251, 223, 0);
}

.back-side {
    background: #343434;
    background: -webkit-linear-gradient(45deg, #343434 0%, #000000 100%);
    background: -o-linear-gradient(45deg, #343434 0%, #000000 100%);
    background: linear-gradient(45deg, #343434 0%, #000000 100%);
    font-size: 20px;
}

.front-side:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 0 0 9px 3px rgb(251, 223, 0);
    /* Скругление углов */
}

.image-container:hover .front-side,
.image-container:hover .back-side {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.image-container .back-side {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.image-container .front-side {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.image-container:hover .back-side {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.image-container:hover .front-side {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front-side .inner p {
    font-size: 29px;
    margin-bottom: 2rem;
    position: relative;
    line-height: 35px;
}

.front-side .inner p:after {
    content: '';
    width: 12rem;
    height: 1px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front-side .inner span {
    color: rgba(255, 255, 255, 0.945);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-size: 31px;
}

.inner-work {
    margin: 20px 0;
}

.btn {
    margin-top: 30px;
    width: 130px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    background-color: rgb(251, 223, 0);
    cursor: pointer;
    font-size: 16px;
}

.info {
    margin-top: 160px;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;
    padding: 0 200px;
}