@charset "UTF-8";
@font-face {
  font-family: gothampro_regular;
  src: local("gothampro_regular"), local("gothampro_regular"), url(/fonts/GothamPro.woff2) format("woff2"), url(/fonts/GothamPro.woff) format("woff");
}
@font-face {
  font-family: gothampro_black;
  src: local("gothampro_black"), local("gothampro_black"), url(/fonts/GothamPro-Black.woff2) format("woff2"), url(/fonts/GothamPro-Black.woff) format("woff");
}
@font-face {
  font-family: gothampro_bold;
  src: local("gothampro_bold"), local("gothampro_bold"), url(/fonts/GothamPro-Bold.woff2) format("woff2"), url(/fonts/GothamPro-Bold.woff) format("woff");
}
@font-face {
  font-family: gothampro_italic;
  src: local("gothampro_italic"), local("gothampro_italic"), url(/fonts/GothamPro-Italic.woff2) format("woff2"), url(/fonts/GothamPro-Italic.woff) format("woff");
}
@font-face {
  font-family: Montserrat-Regular;
  src: local("Montserrat-Regular"), local("Montserrat-Regular"), url(/fonts/Montserrat-Regular.woff2) format("woff2"), url(/fonts/Montserrat-Regular.woff) format("woff");
}
@font-face {
  font-family: Montserrat-Black;
  src: local("Montserrat-Regular"), local("Montserrat-Regular"), url(/fonts/Montserrat-Black.woff2) format("woff2"), url(/fonts/Montserrat-Black.woff) format("woff");
}
@font-face {
  font-family: Montserrat-Bold;
  src: local("Montserrat-Bold"), local("Montserrat-Bold"), url(/fonts/Montserrat-Bold.woff2) format("woff2"), url(/fonts/Montserrat-Bold.woff) format("woff");
}
@font-face {
  font-family: Montserrat-Italic;
  src: local("Montserrat-Italic"), local("Montserrat-Italic"), url(/fonts/Montserrat-Italic.woff2) format("wott2"), url(/fonts/Montserrat-Italic.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--medium-grey);
}

li {
  list-style-type: none;
}

:root {
  --yellow: rgb(251, 223, 0);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --medium-grey:rgb(129, 128, 128);
  --dark-gray:rgb(25, 25, 25);
  --light-gray:rgb(227, 227, 227);
}

html,
body {
  font-family: gothampro_regular;
}

.center {
  padding-left: calc(50% - 900px);
  padding-right: calc(50% - 900px);
}

.nav {
  height: 90px;
  background: var(--yellow);
}

.nav-row {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  color: var(--black);
  font-size: 40px;
  font-family: gothampro_black, sans-serif;
  font-style: normal;
}

.logo-img,
.footer-logo-img {
  width: 40px;
  height: 50px;
}

.nav-list {
  display: flex;
  gap: 0 30px;
  align-items: center;
}

.nav-item {
  color: var(--black);
}

.header {
  background-color: var(--black);
}

.header-content {
  position: absolute;
  top: 250px;
  left: 70px;
  z-index: 2;
}

.header-container {
  margin: 0 auto;
}

.header-titel {
  color: var(--white);
}

.header-quote {
  position: absolute;
  top: 260px;
  left: 1231px;
  z-index: 2;
  width: 641px;
}

.header-quate-text {
  color: var(--white);
  font-size: 27px;
  font-family: gothampro_italic;
}

.header-quate-text-av {
  text-align: end;
}

.video {
  position: relative;
}

.video-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 56%;
  z-index: 1;
}

.mentors {
  background-image: url(/img/93P58PIC1ezInGr1b8BfC_PIC2018.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -8px -1668px;
  height: 700px;
}

.course {
  padding-top: 90px;
  padding-bottom: 10px;
  background-color: var(--black);
}

.course-prog-img {
  width: 250px;
  right: 91px;
  position: relative;
  bottom: 30px;
  transform: rotate(329deg);
}

.course-prog-img2 {
  width: 250px;
  position: relative;
  bottom: 50px;
  transform: rotate(329deg);
  left: 136px;
}

.course-title {
  position: absolute;
  color: var(--yellow);
  font-size: 60px;
  font-weight: 700;
}

.course-title-training {
  padding-left: 200px;
  margin-top: 75px;
}

.info {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
  padding: 0 200px;
}

.footer {
  display: flex;
  background: var(--dark-gray);
  height: 200px;
}

.footer-logo {
  color: var(--yellow);
  font-size: 40px;
  font-weight: 700;
  margin-top: 55px;
}

.footer-con {
  color: var(--yellow);
}

.cours {
  background-image: url(/img/im/pngwing.com\ \(15\).png);
  background-repeat: no-repeat;
  background-size: 1920px 820px;
  height: 820px;
}

.cours-title {
  color: var(--yellow);
  font-size: 40px;
  font-weight: 700;
}

.information {
  background-image: url(/img/Снимок\ экрана\ 2021-04-05\ в\ 13.15.59.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
}/*# sourceMappingURL=style.css.map */